@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* CUSTOM SETTING */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Barlow', sans-serif;
}

/* NAVBAR */
.navbar {
  height: 9.0rem;
}

.rb-zeplin-selected {  
  padding: 2.0rem 1.2rem;
}

.logo {
  width: 7.7rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 600;  
  padding: 0px 26px;
}


/* UTILITY CLASSES */

h2 {  
  text-transform: uppercase;
}

.btn {
  border-radius: 4px;
  padding: 1.2rem 3.65rem;
}

.btn-dark {
  margin: .5rem .5rem .5rem 0rem;
}

a > span {
  font-size: 1.6rem;
  font-weight: 500;
}

i.fa-brands {
  margin-right: 1.0rem;
}

.page-title,
h2.about,
.section-title,
h6.card-title,
.promo-stat {  
  font-weight: 700;  
}

img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.nav-link,
.lsp-2x,
.card-text {
  letter-spacing: .07rem;
}

/* } UTILITY CLASSES */

/* HERO SECTION */

.page-content {
  margin-top: 25.6rem;
}

.page-title {
  font-size: 4.8rem;
}

.lead {
  font-size: 1.8rem;
  margin: 0rem 0rem 3.0rem;
}

.text-dark {
  font-size: 1.8rem;
}

/* ABOUT SECTION */

section.xl {
  padding: 20.0rem 0rem;
}

h2.about {
  font-size: 4.0rem;
  margin: 0rem 0rem 2rem;
}

i.fa-solid::before {
  color: #2cb34c;
  font-size: 1em;
  font-weight: bolder;
  margin: 0rem 0rem 2.3rem 0rem;
}

span.list-text {
  margin: 0rem 0rem 0rem .7rem;
}

ul.list-icon > li {
  font-size: 1.6rem;
  margin: 0rem 0rem 1.5rem;  
}

.promo-box {
  margin: 4rem 0 0 ;
  padding: 4rem 3.2rem 6rem;
}

div.circle {  
  height: 10rem;
  width: 10rem;
}

.promo-stat {  
  font-size: 4rem;
}

i.fa-download {
  font-size: 4em;
  padding: 4.5rem 3rem;  
}

i.fa-user {
  font-size: 4em;
  padding: 2.5rem 3.3rem;  
}

.lsp-extra {
  letter-spacing: 0.3rem;
}

.promo-text {
  font-size: 1.2rem;
}


/* THE TEAM SECTION */

.team {
  padding: 7.0rem 0rem;
}

.section-title {
  font-size: 5.6rem;
  margin: 0rem 0rem 1.5rem;
}

p.role {
  color: #797D85;
  font-size: 1.4rem;
  font-weight: 500;  
}

h6.card-title {
  font-size: 3rem;
  /* font-weight: 700; */
  margin: 0 0 2.0rem;
}

img.circle {
  border-radius: 100%;
  margin: 0 0 3.0rem;
}

.btn-circle {  
  /* border-radius: 100%; */
  height: 4.5rem;
  width: 4.5rem;  
  padding: 1.5rem .9rem 2.5rem 1.2rem;
}

/* THE FEATURE SECTION */
section#features {
  background-color: #FAFBFC;
}

.text-right {
  text-align: right;
}

.card-text {
  margin: 1.5rem 0;  
}

.fa-star {
  color: #fdcc08;
}

h3.hidden {
  visibility: hidden;
}

/* TESTIMONIALS */
.card-body {
  padding: 4rem 2rem;
}

/* DOWNLOAD APP */

section#app {
  padding: 30rem 0;
}

p.download {
  min-width: 5ch;
}

/* FOOTER */
#copyright {
  font-size: 1.8rem;
}

p > a {
  text-decoration: none;
}